<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" type="text/css" href="./static/css/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="./static/iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/detail.css" />
    <!-- <link rel="shortcut icon" href="./static/images/icon.ico" type="image/x-icon" /> 图标-->
    <script src="./static/js/remStyle.js"></script>
    <title>评大人-帖子详情</title>
</head>

<body>
    <header class="mui-bar mui-bar-nav">
        <span class="mui-icon mui-icon-arrowleft back"></span>
        <h1 class="mui-title">帖子详情</h1>
    </header>
    <div class="content">
        <div style="width:100%;height:0.08rem;background: #F4F0F1;"></div>
        <div class="top clear">
            <div class="pic"></div>
            <span class="name">长孙无名2431</span>
        </div>
        <ul class="cate clear">
            <li>@体验报告</li>
            <li>@体验报告</li>
        </ul>
        <div class="tieContent">
            <div class="title">iphoneX用了三个月的感受</div>
            <div class="time">2018.3.9&nbsp;&nbsp;12:20:00</div>
            <div class="discuss clear">
                <div class="peoNum">
                    <span>2988</span> 已参与讨论
                </div>
                <span class="peoheart">
                    <i class="iconfont icon-heart2"></i>
                    3800
                </span>
            </div>
            <p class="textcon">
                体验：相对来说不咋地啊 体验：相对来说不咋地啊 体验：相对来说不咋地啊 体验：相对来说不咋地啊 体验：相对来说不咋地啊 体验：相对来说不咋地啊 体验：相对来说不咋地啊 体验：相对来说不咋地啊 体验：相对来说不咋地啊
            </p>
            <ul class="img clear">
                <li>
                    <img src="./static/image/image02.png">
                </li>
                <li>
                    <img src="./static/image/image02.png">
                </li>
                <li>
                    <img src="./static/image/image02.png">
                </li>
                <li>
                    <img src="./static/image/image02.png">
                </li>
            </ul>
        </div>
        <ul class="disAll">
            <li>
                <div class="clear">
                    <div class="pic"></div>
                    <span class="name">长孙无名2431</span>
                </div>
                <div class="dis">
                    <p>体验报告：iphonex用了半年感觉不是特别好有点卡，感觉很垃圾。不喜欢。吐槽,大家有问题么?</p>
                    <div class="timeA">
                        <span class="timeB">2018.3.9&nbsp;&nbsp;12:22:00</span>
                        <span class="timeheart">
                            <i class="iconfont icon-heart2"></i>
                            3800
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <footer>
        <input type="text" placeholder="想说点儿什么！！" id="say">
        <button type="button" class="mui-btn">发送</button>
    </footer>

    <script src="./static/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./static/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./static/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="./static/js/memberIndex.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>