<header class="mui-bar mui-bar-nav">
    <span class="mui-icon mui-icon-search"></span>
    <input type="text" class="mui-input-clear" placeholder="请输入商品名称或内容" id="searchInp">
</header>
<div class="content">
<ul>
    <li>
        <div class="top">
            <div class="left">
                            <span class="touxiang">
                                <i></i>
                                <p><a href="./memberIndex.html">张大仙也不美</a></p>
                            </span>
                <dl>
                    <dd><a href="./detail.html">评价褒贬不一，iPhone X到底怎么样？</a></dd>
                    <dt>办公室游戏兼得，高性价比游戏本自大号的办公室游戏兼得，高性价比游戏本大号的不信心谁谁谁谁谁谁谁谁谁谁谁谁</dt>
                </dl>
            </div>
            <div class="right flex-1">
                <img src="./static/image/image02.png">
            </div>
        </div>
        <div class="bottom">
            <div class="leftbo">
                <span><a href="">@假货爆料</a></span>
                <span>@W3C</span>
            </div>
            <div class="rightbo">
                            <span>
                                <i class="iconfont icon-heart2"></i>
                                3800
                            </span>
                <span>
                                <i class="iconfont icon-jilu"></i>
                                6666
                            </span>
            </div>
        </div>
    </li>
    <li>
        <div class="toptwo">
            <div class="touxiang">
                <i></i>
                <p><a href="/memberIndex.html">张大仙也不美</a></p>
            </div>
            <dl>
                <dd><a href="./detail.html">评价褒贬不一，iPhone X到底怎么样？</a></dd>
                <dt>办公室游戏兼得，高性价比游戏本自大号的办公室游戏兼得，高性价比游戏本大号的不信心谁谁谁谁谁谁谁谁谁谁谁谁</dt>
            </dl>
        </div>
        <div class="bottom">
            <div class="leftbo">
                <span>@假货爆料</span>
                <span>@W3C</span>
            </div>
            <div class="rightbo">
                            <span>
                                <i class="iconfont icon-heart2"></i>
                                3800
                            </span>
                <span>
                                <i class="iconfont icon-jilu"></i>
                                6666
                            </span>
            </div>
        </div>
    </li>
    <li>
        <div class="toptwo">
            <div class="touxiang">
                <i></i>
                <p><a href="/memberIndex.html">张大仙也不美</a></p>
            </div>
            <div class="mastImg">
                <img src="/static/image/image01.png">
            </div>
            <dl>
                <dd><a href="./detail.html">评价褒贬不一，iPhone X到底怎么样？</a></dd>
                <dt>办公室游戏兼得，高性价比游戏本自大号的办公室游戏兼得，高性价比游戏本大号的不信心谁谁谁谁谁谁谁谁谁谁谁谁</dt>
            </dl>
        </div>
        <div class="bottom">
            <div class="leftbo">
                <span>@假货爆料</span>
                <span>@W3C</span>
            </div>
            <div class="rightbo">
                            <span>
                                <i class="iconfont icon-heart2"></i>
                                3800
                            </span>
                <span>
                                <i class="iconfont icon-jilu"></i>
                                6666
                            </span>
            </div>
        </div>
    </li>
</ul>

</div>