<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" type="text/css" href="./static/css/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="./static/iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/information.css" />
    <!-- <link rel="shortcut icon" href="../static/images/icon.ico" type="image/x-icon" /> 图标-->
    <script src="./static/js/remStyle.js"></script>
    <title>评大人-基本信息</title>
</head>

<body>
    <header class="mui-bar mui-bar-nav">
        <span class="mui-icon mui-icon-arrowleft back"></span>
        <h1 class="mui-title">基本信息</h1>
    </header>
    <div class="content">
        <div class="showInfor">
            <div class="mui-row">
                <div class="mui-col-xs-3">
                    昵称
                </div>
                <div class="mui-col-xs-8">
                    小妮子1974
                </div>
                <div class="mui-col-xs-1">
                    <span class="mui-icon mui-icon-arrowright"></span>
                </div>
            </div>
            <div class="mui-row">
                <div class="mui-col-xs-3">
                    生日
                </div>
                <div class="mui-col-xs-8">
                    1997-08-09
                </div>
                <div class="mui-col-xs-1">
                    <span class="mui-icon mui-icon-arrowright"></span>
                </div>
            </div>
            <div class="mui-row">
                <div class="mui-col-xs-3">
                    性别
                </div>
                <div class="mui-col-xs-8">
                    男
                </div>
                <div class="mui-col-xs-1">
                    <span class="mui-icon mui-icon-arrowright"></span>
                </div>
            </div>
            <div class="mui-row">
                <div class="mui-col-xs-3">
                    家乡
                </div>
                <div class="mui-col-xs-8">
                    山东德州
                </div>
                <div class="mui-col-xs-1">
                    <span class="mui-icon mui-icon-arrowright"></span>
                </div>
            </div>
            <div class="mui-row">
                <div class="mui-col-xs-3">
                    个性签名
                </div>
                <div class="mui-col-xs-8 owner">
                    喜欢各种各样的东西，3C手机啊啥的啥的啥的啥的啥的好的
                </div>
                <div class="mui-col-xs-1">
                    <span class="mui-icon mui-icon-arrowright"></span>
                </div>
            </div>
        </div>
        <div class="showBtn">
            <ul>
                <li class="help">帮助反馈</li>
                <li class="logout">退出</li>
            </ul>
        </div>
    </div>
    <script src="./static/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./static/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./static/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="./static/js/information.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>