<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" type="text/css" href="./static/css/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="./static/iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/fans.css" />
    <!-- <link rel="shortcut icon" href="./static/images/icon.ico" type="image/x-icon" /> 图标-->
    <script src="./static/js/remStyle.js"></script>
    <title>评大人-我的关注</title>
</head>

<body>
    <header class="mui-bar mui-bar-nav">
        <span class="mui-icon mui-icon-arrowleft back"></span>
        <h1 class="mui-title">我的关注</h1>
    </header>
    <div class="content">
        <div style="width:100%;height:0.08rem;background:#F4F0F1;"></div>
        <ul class="fansList">
            <li class="clear">
                <span class="pic"></span>
                <div class="info">
                    <span>王小明同学</span>
                    <p>非常喜欢使用iPhone,是一种信仰</p>
                </div>
                <div class="lockBtn">
                    已关注
                </div>
            </li>
            <li class="clear">
                <span class="pic"></span>
                <div class="info">
                    <span>王小明同学</span>
                    <p>非常喜欢使用iPhone,是一种信仰</p>
                </div>
                <div class="lockBtn">
                    互相关注
                </div>
            </li>
        </ul>
    </div>

    <script src="./static/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./static/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./static/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="./static/js/fans.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>