<header class="mui-bar mui-bar-nav">
        <span class="mui-icon mui-icon-arrowleft back"></span>
        <h1 class="mui-title">个人中心</h1>
    </header>
<div class="content">
        <div class="firstP flex">
            <div class="left">
            </div>
            <div class="right flex-1">
                <div class="nickName">
                    <div class="name">王小明同学</div>
                    <span class="mui-icon mui-icon-arrowright"></span>
                </div>
                <ul class="logo clear">
                    <li>男</li>
                    <li>21</li>
                    <li>山东省</li>
                </ul>
                <span class="qianM">
                    非常喜欢用iphone，也算是一种信仰!
                </span>
            </div>
        </div>
        <ul class="cateUl clear">
            <li class="myPost">
                <span>我的帖子</span>
                <div class="num">
                    <span class="numshow">763</span>
                    <span class="mui-icon mui-icon-arrowright"></span>
                </div>
            </li>
            <li class="comments">
                <span>我的点评</span>
                <div class="num">
                    <span class="numshow">1863</span>
                    <span class="mui-icon mui-icon-arrowright"></span>
                </div>
            </li>
            <li class="mylike">
                <span>我的喜欢</span>
                <div class="num">
                    <span class="numshow">63</span>
                    <span class="mui-icon mui-icon-arrowright"></span>
                </div>
            </li>
            <li class="look">
                <span>我的关注</span>
                <div class="num">
                    <span class="numshow">763</span>
                    <span class="mui-icon mui-icon-arrowright"></span>
                </div>
            </li>
            <li class="fans">
                <span>我的粉丝</span>
                <div class="num">
                    <span class="numshow">763</span>
                    <span class="mui-icon mui-icon-arrowright"></span>
                </div>
            </li>
        </ul>
    </div>
    <script src="/static/js/memberIndex.js" type="text/javascript" charset="utf-8"></script>