<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" type="text/css" href="./static/css/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="./static/iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/comments.css" />
    <!-- <link rel="shortcut icon" href="./static/images/icon.ico" type="image/x-icon" /> 图标-->
    <script src="./static/js/remStyle.js"></script>
    <title>评大人-我的喜欢</title>
    <style>
        .rightbo span:nth-child(1){color:#D0A972;}
    </style>
</head>

<body>
    <header class="mui-bar mui-bar-nav">
        <span class="mui-icon mui-icon-arrowleft back"></span>
        <h1 class="mui-title">我的喜欢</h1>
    </header>
    <div class="content">
        <ul>
            <li>
                <div class="top">
                    <div class="left">
                        <span class="touxiang">
                            <i></i>
                            <p>张大仙也不美</p>
                        </span>
                        <dl>
                            <dd>评价褒贬不一，iPhone X到底怎么样？</dd>
                            <dt>办公室游戏兼得，高性价比游戏本自大号的办公室游戏兼得，高性价比游戏本大号的不信心谁谁谁谁谁谁谁谁谁谁谁谁</dt>
                        </dl>
                    </div>
                    <div class="right flex-1">
                        <img src="./static/image/image02.png">
                    </div>
                </div>
                <div class="bottom">
                    <div class="leftbo">
                        <span>@假货爆料</span>
                        <span>@W3C</span>
                    </div>
                    <div class="rightbo">
                        <span>
                            <i class="iconfont icon-heart2"></i>
                            3800
                        </span>
                        <span>
                            <i class="iconfont icon-jilu"></i>
                            6666
                        </span>
                    </div>
                </div>
            </li>
            <li>
                <div class="toptwo">
                    <div class="touxiang">
                        <i></i>
                        <p>张大仙也不美</p>
                    </div>
                    <dl>
                        <dd>评价褒贬不一，iPhone X到底怎么样？</dd>
                        <dt>办公室游戏兼得，高性价比游戏本自大号的办公室游戏兼得，高性价比游戏本大号的不信心谁谁谁谁谁谁谁谁谁谁谁谁</dt>
                    </dl>
                </div>
                <div class="bottom">
                    <div class="leftbo">
                        <span>@假货爆料</span>
                        <span>@W3C</span>
                    </div>
                    <div class="rightbo">
                        <span>
                            <i class="iconfont icon-heart2"></i>
                            3800
                        </span>
                        <span>
                            <i class="iconfont icon-jilu"></i>
                            6666
                        </span>
                    </div>
                </div>
            </li>
            <li>
                <div class="toptwo">
                    <div class="touxiang">
                        <i></i>
                        <p>张大仙也不美</p>
                    </div>
                    <div class="mastImg">
                        <img src="./static/image/image01.png">
                    </div>
                    <dl>
                        <dd>评价褒贬不一，iPhone X到底怎么样？</dd>
                        <dt>办公室游戏兼得，高性价比游戏本自大号的办公室游戏兼得，高性价比游戏本大号的不信心谁谁谁谁谁谁谁谁谁谁谁谁</dt>
                    </dl>
                </div>
                <div class="bottom">
                    <div class="leftbo">
                        <span>@假货爆料</span>
                        <span>@W3C</span>
                    </div>
                    <div class="rightbo">
                        <span>
                            <i class="iconfont icon-heart2"></i>
                            3800
                        </span>
                        <span>
                            <i class="iconfont icon-jilu"></i>
                            6666
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <script src="./static/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./static/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./static/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="./static/js/index.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>