<!Doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" type="text/css" href="./static/css/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="./static/iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="./static/css/upInfo.css" />
    <!-- <link rel="shortcut icon" href="../static/images/icon.ico" type="image/x-icon" /> 图标-->
    <script src="./static/js/remStyle.js"></script>
    <title>评大人-发布帖子</title>
</head>

<body>
    <header class="mui-bar mui-bar-nav">
        <a class="mui-icon mui-icon-closeempty mui-pull-left back"></a>
        <h1 class="mui-title">发布帖子</h1>
        <a class="mui-pull-right upBtn">发布</a>
    </header>
    <div class="content">
        <div class="borderBox"></div>
        <div class="upContent">
            <ul class="upChoose">
                <li class="active">体验报告</li>
                <li>购物晒单</li>
                <li>求助</li>
                <li>爆料</li>
            </ul>
            <div class="inInput">
                <input type="text" placeholder="请输入你要体验的商品或求助的问题">
            </div>
            <textarea id="upText" placeholder="点击输入您要发布的内容！"></textarea>
            <ul class="upImg clear">
                <li>
                    <div class="heng"></div>
                    <div class="shu"></div>
                </li>
                <li>
                    <img src="./static/image/image02.png">
                </li>
                <li>
                    <img src="./static/image/image02.png">
                </li>
                <li>
                    <img src="./static/image/image02.png">
                </li>
            </ul>
        </div>
        <div id="contentEditor"></div>
    </div>
    <script src="./static/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./static/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./static/js/common.js" type="text/javascript" charset="utf-8"></script>
    <script src="./static/js/upInfo.js" type="text/javascript" charset="utf-8"></script>
    <script>
    </script>
</body>

</html>