@charset "utf-8";
html{
	-webkit-overflow-scrolling: touch; 
	-moz-overflow-scrolling: touch; 
	-o-overflow-scrolling: touch; 
	overflow-scrolling: touch;
}
img{
  max-width: 100%;
  -max-height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
html,body,button,dd,section,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0}
img,fieldset{border:none;}
input,img{outline:none;vertical-align:top;}	
table{border-collapse:collapse;border-spacing:0;}		
button{cursor:pointer;border:none;}
textarea{word-wrap:break-word;resize:none;}
ul,dl,ol,li{list-style:none;}

a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: #000; }
a:active { outline: 0; }
a:active { color: #006699; }
body { margin: 0;font-size: 16px; line-height: 1.5; color: #333333; background-color: white; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch; }
html, button, input, select, textarea { font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
h1, h2, h3 { line-height: 2; font-weight: normal; }
h1 { font-size: 1.8rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.4rem; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal;outline: none; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
select{	
	appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
}
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
html,body{
	max-width: 640px;
	margin: 0 auto;
	background: #fbfbfb;
	font-size:16px;
	font-family:"Microsoft YaHei","微软雅黑","MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
}

/**弹出tips**/
.mobileui-tip{position:fixed;width:100%;top:30%;color: #fff;height:2rem;z-index: 999;}
.mobileui-tip > div{margin: auto;width:auto;height: 100%;text-align: center;
background: #000;opacity:0.8;border: 0px solid #584523;font-size:0.75rem;line-height: 2rem;overflow: visible;display: inline-block;padding: 0 0.8rem;}
/*.mobileui-tip::before{content: "";position:absolute;width:10000px;height:10000px;top:-5000px;left:-5000px;background:#000;opacity:0.5;}*/
.fl{float: left;}
.fr{float: right;}
/* 页面自适应通用版 */
@media (min-width: 320px){html,body{font-size: 16px;}}
@media (min-width: 480px){html,body{font-size: 24px;}}
@media (min-width: 540px){html,body{font-size: 27px;}}
@media (min-width: 640px){html,body{font-size: 32px;}}
@media (min-width: 720px){html,body{font-size: 36px;}}
@media (min-width: 740px){html,body{font-size: 38px;}}
/**弹出loading**/
.carui-loading{
	position:fixed;
	width:100%;
	top:30%;
	color: #fff;
	height:2rem;
	z-index: 999;
}
.carui-loading > div{
	margin: auto;
	width:20%;
	height: 100%;
	text-align: center;
	opacity:1;
	border: 0px solid #584523;
	font-size:0.75rem;
	line-height: 1.5rem;
}
/* 页面滑动效果 */
html{
	animation:myfirst .6s;
	-webkit-animation:myfirst .6s;
	-moz-animation:myfirst .6s;
	-o-animation:myfirst .6s;
}
@keyframes myfirst{
	0%{
		transform: translate(100%);
		-webkit-transform: translate(100%);
		-moz-transform: translate(100%);
		-o-transform: translate(100%);
	}
	100%{
		transform: translate(0%);
		-webkit-transform: translate(0%);
		-moz-transform: translate(0%);
		-o-transform: translate(0%);
	}
}
-webkit-@keyframes myfirst{
	0%{
		transform: translate(100%);
		-webkit-transform: translate(100%);
		-moz-transform: translate(100%);
		-o-transform: translate(100%);
	}
	100%{
		transform: translate(0%);
		-webkit-transform: translate(0%);
		-moz-transform: translate(0%);
		-o-transform: translate(0%);
	}
}
-moz-@keyframes myfirst{
	0%{
		transform: translate(100%);
		-webkit-transform: translate(100%);
		-moz-transform: translate(100%);
		-o-transform: translate(100%);
	}
	100%{
		transform: translate(0%);
		-webkit-transform: translate(0%);
		-moz-transform: translate(0%);
		-o-transform: translate(0%);
	}
}
-o-@keyframes myfirst{
	0%{
		transform: translate(100%);
		-webkit-transform: translate(100%);
		-moz-transform: translate(100%);
		-o-transform: translate(100%);
	}
	100%{
		transform: translate(0%);
		-webkit-transform: translate(0%);
		-moz-transform: translate(0%);
		-o-transform: translate(0%);
	}
}

/* footer */
/*.nav a.wd i{
	background: url(../../imgs/index/nav.png) no-repeat -40px;
	background-size:2.4rem;
}*/
/*
 * 红色状态图标
.nav a.sy i{
	background: url(../../imgs/index/nav.png) no-repeat 0.1rem 0.1rem;
	background-size:2.4rem;
}

.nav a.bz i{
	background: url(../../imgs/index/nav.png) no-repeat 0.15rem -1rem;
	background-size:2.4rem;
}
.nav a.my i{
	background: url(../../imgs/index/nav.png) no-repeat 0.1rem -2.25rem;
	background-size:2.4rem;
}
*/
/* 黑色状态图标 */
.nav a.sy i{
	background: url(../../imgs/index/nav.png) no-repeat -1.1rem 0.1rem;
	background-size:2.4rem;
}
.nav a.bz i{
	background: url(../../imgs/index/nav.png) no-repeat -0.99rem -1rem;
	background-size:2.4rem;
}
.nav a.my i{
	background: url(../../imgs/index/nav.png) no-repeat -1.15rem -2.25rem;
	background-size:2.4rem;
}
.nav a.cyq i{
	background: url(../../imgs/index/nav.png) no-repeat -1.15rem -3.45rem;
	background-size:2.4rem;
}

/* 弹窗 */
.mui-popup-backdrop
{
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;

    opacity: 0;
    background: rgba(0, 0, 0, .4);
}
.mui-popup-backdrop.mui-active
{
    opacity: 1;
}

.mui-popup
{
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;

    display: none;
    overflow: hidden;

    width: 270px;

    -webkit-transition-property: -webkit-transform,opacity;
            transition-property:         transform,opacity;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1.185);
            transform: translate3d(-50%, -50%, 0) scale(1.185);
    text-align: center;

    opacity: 0;
    color: #000;
    border-radius: 13px;
}
.mui-popup.mui-popup-in
{
    display: block;

    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
            transform: translate3d(-50%, -50%, 0) scale(1);

    opacity: 1;
}
.mui-popup.mui-popup-out
{
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
            transform: translate3d(-50%, -50%, 0) scale(1);

    opacity: 0;
}

.mui-popup-inner
{
    position: relative;

    padding: 15px;

    border-radius: 13px 13px 0 0;
    background: rgba(255, 255, 255, .95);
}
.mui-popup-inner:after
{
    position: absolute;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 1px;

    content: '';
    -webkit-transform: scaleY(.5);
            transform: scaleY(.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;

    background-color: rgba(0, 0, 0, .2);
}

.mui-popup-title
{
    font-size: 18px;
    font-weight: 500;

    text-align: center;
}

.mui-popup-title + .mui-popup-text
{
    font-family: inherit;
    font-size: 14px;

    margin: 5px 0 0;
}

.mui-popup-buttons
{
    position: relative;

    display: -webkit-box;
    display: -webkit-flex;
    display:         flex;

    height: 44px;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
}

.mui-popup-button
{
    font-size: 17px;
    line-height: 44px;

    position: relative;

    display: block;
    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    height: 44px;
    padding: 0 5px;

    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: #007aff;
    background: rgba(255, 255, 255, .95);

    -webkit-box-flex: 1;
}
.mui-popup-button:after
{
    position: absolute;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;

    display: block;

    width: 1px;
    height: 100%;

    content: '';
    -webkit-transform: scaleX(.5);
            transform: scaleX(.5);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;

    background-color: rgba(0, 0, 0, .2);
}
.mui-popup-button:first-child
{
    border-radius: 0 0 0 13px;
}
.mui-popup-button:first-child:last-child
{
    border-radius: 0 0 13px 13px;
}
.mui-popup-button:last-child
{
    border-radius: 0 0 13px 0;
}
.mui-popup-button:last-child:after
{
    display: none;
}
.mui-popup-button.mui-popup-button-bold
{
    font-weight: 600;
}

.mui-popup-input input
{
    font-size: 14px;

    width: 100%;
    height: 26px;
    margin: 15px 0 0;
    padding: 0 5px;

    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 0;
    background: #fff;
}

.mui-plus.mui-android .mui-popup-backdrop
{
    -webkit-transition-duration: 1ms;
            transition-duration: 1ms;
}

.mui-plus.mui-android .mui-popup
{
    -webkit-transition-duration: 1ms;
            transition-duration: 1ms;
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1);
            transform: translate3d(-50%, -50%, 0) scale(1);
}

