/* 头部 */
html,body{height: 100%;background: #f4f0f1;}
body{padding-top: 44px;}
header{
    background: #fff!important;
    box-shadow: none!important;
    position: fixed!important;
    top: 0;
}
.upBtn{display: block;height: 44px;line-height: 44px;color: #CEA56B!important;}
.content{
    width: 100%;
    height: 100%;
    position: relative;
}
.content .borderBox{height: 0.08rem;width: 100%;background: #f4f0f1;}
.content .upContent{
    width: 100%;
    padding:0.1rem 0.48rem;
}
.content .upContent .upChoose{
    width: 100%;
    clear: both;
    overflow: hidden;
}
.content .upContent .upChoose li{
    float: left;
    color: #000;
    font-size: 0.28rem;
    padding: 0.1rem 0.3rem;
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    background: #fff;
    margin-right: 0.192rem;
}
.content .upContent .upChoose li:nth-child(4){margin-right: 0;}
.active{border: 1px solid #CEA56B!important;color:#CEA56B!important;}
#upText{width: 100%;height: 2.7rem;margin-top: 0.15rem;padding: 0.1rem;border-radius: 0;font-size: 14px;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:#E0E0E0;
    font-size: 0.28rem;
    font-family: 'Microsoft YaHei';
    font-weight: normal;
    }
.upImg{width: 100%;}
.upImg li{width: 2.12rem;height: 1.72rem;float: left;margin-right:0.08rem;margin-bottom: 0.2rem;}
.upImg li img{width: 100%;}
.upImg li:nth-child(1){background:#fff;border: 1px dashed #D2D2D2;padding: 0.16rem;position: relative;}
.upImg li:nth-child(3n+3){margin-right: 0;}
.heng{height: 2px;width: 85%;background: #CDCDCD;position: absolute;top: 50%;margin-top: -1px;}
.shu{width: 2px;height: 85%;background: #CDCDCD;position: absolute;left: 50%;margin-left: -1px;}
.inInput{width: 100%;height: 0.8rem;background: #fff;margin-top: 0.15rem;border: 1px solid rgba(0,0,0,.2);}
.inInput input{width: 100%;height:100%;padding-left: 5px;border: none;font-size: 14px;}